<div class="container-fluid px-0 bg-dark text-light h-100">
    <div class="container-lg d-flex flex-column flex-md-row align-items-center justify-content-md-between px-0">
        <div class="fs-3 order-1">Andree</div>
        <div class="order-2 order-md-3">
            <a href="https://www.linkedin.com/in/andreerojas"><i class="bi bi-linkedin mx-2 text-light"></i></a>
            <a href="https://github.com/andreerojas"><i class="bi bi-github mx-2 text-light"></i></a>
        </div>
        <div class="fs-5 order-3 order-md-2">Coded by <a class="text-light" href="/">Andree</a></div>
    </div>
</div>