<% layout('boilderplate') %>
<% block('head').append('<link rel="stylesheet" href="/css/homeStyles.css">') %>

<div class="container d-flex flex-column align-items-center mt-5">
    <div class="presentation d-flex flex-column flex-md-row align-items-center justify-content-md-around w-100">
        <img src="/img/profile_2.png" alt="profile picture" class="img-fluid order-md-2 rounded-circle">
        <div class="presentation-msg order-md-1 mt-3 d-flex flex-column align-items-center justify-content-center">
            <p class="fs-2 fw-semibold">Hi, my name is Andree</p>
            <p class="fs-2 fw-semibold">I am a web developer</p>
            <a href="" class="btn btn-dark buttons d-flex align-items-center">RESUME <i class="bi bi-box-arrow-up-right ms-2"></i></a>
        </div>
    </div>
</div>
<div class="container d-flex align-items-end title-container">
    <h2 class="fs-1 me-3 lh-1">Projects</h2>
    <span class="fs-4 handwrite-text lh-lg">I have been working on</span>
</div>

<div class="container mt-5 projects-container px-5">
    <%for(let project of projects){%>
        <a href="<%= project.link %>" target="_blank" rel="noopener noreferrer" class="text-decoration-none text-dark">
            <div class="card border border-1 border-light rounded rounded-2 shadow">
                <img src="<%= project.img %>" alt="project image" class="img-fluid rounded-top">
                <div class="card-body">
                  <h3 class="card-title fs-4"><%= project.title %></h3>
                  <p class="card-text"><%= project.description %></p>
                </div>
            </div>
        </a>
    <%}%>
</div>



